/*INICIO ROOT*/

/*@font-face {
    font-family: 'Stanley';
    src: url('/fonts/Stanley.otf');
    font-style: normal;
    font-weight: normal;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    position: relative;
    min-height: 100%;
    background-color: #280145;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.9'%3E%3Ccircle fill='%23280145' cx='50' cy='0' r='50'/%3E%3Cg fill='%232d0c4d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23321756' cx='50' cy='100' r='50'/%3E%3Cg fill='%2336215e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b2b67' cx='50' cy='200' r='50'/%3E%3Cg fill='%233f3570' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23433f79' cx='50' cy='300' r='50'/%3E%3Cg fill='%23464882' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%234a528b' cx='50' cy='400' r='50'/%3E%3Cg fill='%234d5c94' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2351669d' cx='50' cy='500' r='50'/%3E%3Cg fill='%235470a7' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23577bb0' cx='50' cy='600' r='50'/%3E%3Cg fill='%235985ba' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%235c90c3' cx='50' cy='700' r='50'/%3E%3Cg fill='%235e9acd' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2360a5d7' cx='50' cy='800' r='50'/%3E%3Cg fill='%2362b0e1' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2364bbeb' cx='50' cy='900' r='50'/%3E%3Cg fill='%2366c6f5' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2367D1FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

h1, h2 {
    font-size: large;
}

/*FIN ROOT*/

.mySlides picture {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    /* height: 70vh; */
}

/*INICIO HEADER*/

.titulos {
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0%;
    z-index: 999;
}

.header {
    text-shadow: 1px 1px 2px rgba(99, 94, 94, 0.514);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2% 0 2%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-blend-mode: multiply, multiply;
    min-height: 17vh;
    box-shadow: 2px 2px 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
}

h1>a {
    font-size: 1em;
    font-weight: bold;
}

/*FIN HEADER*/

/*boton idex*/
#botonsito:hover{
   color: red;
}



/* Pagina error 404 */

.contenedor-error404 {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

.error404 {
    max-height: 97vh;
}

.p-carrito {
    font-size: 50px;
}

.a-carrito {
    margin-left: 10%;
    font-size: 30px;
}

/* Fin pagina error 404 */

/* INICIO PRODUCTOS*/
main {
    height: 100%;
}

.section-productos {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-flow: dense;
}

.productos:hover {
    transform: scale(1.1);
}

.productos {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    height: fit-content;
    margin: 20px 20px;
    border: 2px transparent solid;
    box-shadow: 2px 2px 12px;
    border-radius: 10px 10px;
    padding: 10px;
}

.productos img {
    height: fit-content;
    vertical-align: middle;
    border-style: none;
}

.divextra {
    margin-bottom: -2em;
}

/* INICIO MODAL */

.modal-link {
    margin-bottom: -2em;
    z-index: 99;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.modal-window {
    background-color: rgba(0, 0, 0, 0.888);
    color: rgba(255, 255, 255, 0.91);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    display: none;
    z-index: 999;
    /* box-sizing: border-box; */
    /* width: 90%;
    height: 90%; */
}

.modal-window p {
    display: flex;
    justify-content: right;
}

.modal-window a {
    color: white;
}

.center {
    /* max-height: 53em; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #dbe4ed;
    box-sizing: border-box;
}

.center img {
    object-fit: cover;
    width: 55%;
}

.modal-window:target {
    display: block;
}

/* FIN MODAL */

/* FIN PRODUCTOS*/

/* INICIO FOOTER */

footer {
    height: 13vh;
    text-shadow: 1px 1px 2px rgba(99, 94, 94, 0.514);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 13px;
}

.rodapie .contenedorRodapie {
    display: flex;
    align-items: center;

}

.imgMappet {
    height: 60px;
    transition: .5s;
}

.imgMappet:hover {
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

/* FIN FOOTER */

.mySlides {
    display: none;
    background: black;
    align-items: center;
    justify-content: center;
}

/* Slideshow container */

.slideshow-container {
    box-sizing: content-box;
    background-color: #fff;
    height: 90%;
    margin: 20px 20px;
    border: 2px transparent solid;
    box-shadow: 2px 2px 12px;
    border-radius: 10px 10px;
    padding: 10px;
    top: 70%;
    width: 90%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */


.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* MAIN DE QUIENES SOMOS*/

.descripcion {
    background-color: #fff;
    height: 90%;
    margin: 20px 20px;
    border: 2px transparent solid;
    box-shadow: 2px 2px 12px;
    border-radius: 10px 10px;
    padding: 10px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion>iframe {
    margin: 5% 0;
}

iframe {
    width: 100%;
}

h1,
h2 {
    font-size: 1.5rem;
}

.itemPrecio {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/* FIN DE MAIN QUIENES SOMOS */
@media screen and (max-width: 1024px) {

    nav ul {
        flex-direction: column;
    }

    .closeIcon {
        display: none;
    }

    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
    }

    .menuItem:hover {
        text-decoration: underline;
    }

    .hamburger {
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
    }



    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(1, 1, 1, 0.65);
        color: #271919;
        list-style: none;
        padding-top: 4rem;
        font-weight: bold;
    }

    .showMenu {
        transform: translateY(0);
    }

    /* .center>img {
        min-width: 100%;
    } */
}

@media screen and (max-width: 768px) {
    footer span {
        display: none;
    }

    .center>img {
        min-width: 100%;
        ;
    }
}

.mySlides img {
    max-width: 80%;
    height: auto;
}

@media screen and (min-width: 1024px) {

    .hamburger {
        display: none;
    }

    nav {
        display: flex;
    }

}

textarea {
    width: 100%;
}

/* BOTONES DE LAS TARJETAS */

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-to-cart,
.del-cart {
    width: 40%;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    color: #fff;
}

.add-to-cart {
    background-color: #007bff;
    border-color: #007bff;
}

.del-cart {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* INICIO BUSQUEDA INDEX */

.busqueda {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.busqueda div{
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 0%;
}


/* FIN BUSQUEDA INDEX */
