

.titulos {
    display: flex;
    flex-direction: column;
    
}

.header {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2% 0 2%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
}

a:hover {
    height: inherit;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.15);
}